@charset "UTF-8";
/* ==================================================================
# mixin
===================================================================*/
/* ==================================================================
# colors
===================================================================*/
/* ==================================================================
# common - 全体に共通するスタイル
===================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

/* header
-----------------------------------------------------*/
.header {
  background: rgba(67, 71, 75, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
}

.header .drawer-hamburger-icon {
  background-color: #fff;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #fff;
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header-logo {
  width: 120px;
}

.header-logo a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    top: 60px;
    background-color: rgba(67, 71, 75, 0.7);
    padding: 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 46px;
  }
}

.header-nav-item__link {
  display: block;
  color: #fff;
  height: 70px;
  line-height: 70px;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .header-nav-item__link {
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-item__link {
    -webkit-transition: color .4s;
    transition: color .4s;
  }
  .header-nav-item__link:hover {
    color: #3EA1D1;
  }
}

/* footer
-----------------------------------------------------*/
.footer {
  background: rgba(67, 71, 75, 0.7);
  padding: 42px 40px 12px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 36px 0 14px;
  }
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-logo a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-logo a:hover {
    opacity: .7;
  }
}

.footer-nav-list {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 30px;
  }
}

.footer-nav-item__link {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 1em 0;
}

@media screen and (max-width: 767px) {
  .footer-nav-item__link {
    padding: .3em 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-item__link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-nav-item__link:hover {
    opacity: .7;
  }
}

.footer-sns-list {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    margin-top: 14px;
  }
}

.footer-sns-item {
  display: inline-block;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 10px;
}

.footer-sns-item__link {
  color: #3EA1D1;
  font-size: 24px;
  display: block;
  padding: .1em .5em;
}

@media screen and (min-width: 768px) {
  .footer-sns-item__link {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-sns-item__link:hover {
    opacity: .7;
  }
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 5px;
  }
}

/* ==================================================================
# main
===================================================================*/
/* common
-----------------------------------------------------*/
.main {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.section {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

/* section-title
-----------------------------------------------------*/
.section-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background: #3EA1D1;
  margin: 16px auto 0;
}

.util-link {
  font-size: 14px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.util-link.-active {
  background: #3EA1D1;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .util-link:not(.-submit):hover {
    background: #3EA1D1;
    color: #fff;
  }
}

/* top
-----------------------------------------------------*/
.top {
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-picture {
    padding-top: 120%;
    background: url(../img/top.png) center center/cover;
  }
}

@media screen and (min-width: 768px) {
  .top-picture {
    padding-top: 55%;
    background: url(../img/top.png) top right/82.5% no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .top-message {
    margin-top: 31px;
  }
}

@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    padding: 82px 44px 90px 40px;
  }
}

.top-message-title {
  font-size: 26px;
  font-weight: bold;
}

.top-message-text {
  margin-top: 18px;
}

/* concept
-----------------------------------------------------*/
.concept-inner {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .concept-inner {
    margin-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .concept-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .concept-picture {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept-message {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .concept-message {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-left: 6.6667%;
  }
}

.concept-message-title {
  font-size: 20px;
  font-weight: bold;
}

.concept-message-text {
  margin-top: 36px;
}

@media screen and (max-width: 767px) {
  .concept-message-text {
    margin-top: 20px;
  }
}

/* feature
-----------------------------------------------------*/
@media screen and (max-width: 767px) {
  .feature {
    max-width: 340px;
  }
}

.feature-list {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .feature-list {
    margin-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28.3333%;
        -ms-flex: 0 0 28.3333%;
            flex: 0 0 28.3333%;
  }
}

@media screen and (max-width: 767px) {
  .feature-item + .feature-item {
    margin-top: 49px;
  }
}

.feature-item-link {
  display: block;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

@media screen and (min-width: 768px) {
  .feature-item-link:hover .feature-item-picture > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.feature-item-picture {
  overflow: hidden;
}

.feature-item-picture > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  height: 240px;
}

.feature-item-body {
  text-align: center;
  font-weight: bold;
  padding: 26px 12px;
}

/* about
-----------------------------------------------------*/
.about {
  color: #fff;
  background: url(../img/bg.png) center center/cover;
  position: relative;
  padding: 120px 0;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 176px 0 52px;
  }
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.about-inner {
  position: relative;
  text-align: right;
}

.about-title {
  font-size: 22px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-title {
    font-size: 20px;
  }
}

.about-text {
  margin-top: 28px;
}

@media screen and (max-width: 767px) {
  .about-text {
    font-size: 14px;
    margin-top: 22px;
    line-height: 1.7143;
  }
}

/* course
-----------------------------------------------------*/
.course {
  max-width: 940px;
  margin: 160px auto 0;
}

@media screen and (max-width: 767px) {
  .course {
    max-width: 340px;
    padding: 0 58px;
  }
}

.course-list {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .course-list {
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .course-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .course-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 27.6%;
        -ms-flex: 0 0 27.6%;
            flex: 0 0 27.6%;
  }
}

@media screen and (max-width: 767px) {
  .course-item + .course-item {
    margin-top: 40px;
  }
}

.course-item-link {
  display: block;
  color: #333;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .course-item-link:hover .course-item-picture > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.course-item-picture {
  overflow: hidden;
}

.course-item-picture > img {
  height: 200px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.course-item-body {
  margin-top: 22px;
}

.course-item-cost {
  color: #989898;
  margin-top: 10px;
}

.course-footer {
  text-align: center;
  margin-top: 44px;
}

@media screen and (max-width: 767px) {
  .course-footer {
    margin-top: 42px;
  }
}

/* blog
-----------------------------------------------------*/
.blog {
  max-width: 1040px;
  margin: 160px auto 0;
}

@media screen and (max-width: 767px) {
  .blog {
    padding: 0 32px;
  }
}

.blog-list {
  margin-top: 28px;
}

@media screen and (max-width: 767px) {
  .blog-list {
    margin-top: 25px;
  }
}

.blog-item {
  border-bottom: 1px solid #e0e0e0;
}

.blog-item-link {
  color: #333;
  font-size: 14px;
  padding: 22px 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .blog-item-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-item-link:hover .blog-item-picture > img {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }
}

@media screen and (min-width: 768px) {
  .blog-item-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 260px;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
}

.blog-item-picture {
  padding-top: 61.5385%;
  position: relative;
  overflow: hidden;
}

.blog-item-picture > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

@media screen and (max-width: 767px) {
  .blog-item-body {
    margin-top: 21px;
  }
}

@media screen and (min-width: 768px) {
  .blog-item-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-left: 40px;
  }
}

.blog-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .blog-item-title {
    font-size: 16px;
  }
}

.blog-item-text {
  color: #888;
  margin-top: 16px;
  line-height: 1.7143;
}

.blog-footer {
  text-align: center;
  margin-top: 50px;
}

/* concept2
-----------------------------------------------------*/
@media screen and (min-width: 768px) {
  .concept2-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .concept2-picture {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept2-message {
    margin-top: 34px;
  }
}

@media screen and (min-width: 768px) {
  .concept2-message {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-right: 6.6667%;
  }
}

.concept2-message-title {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .concept2-message-title {
    font-size: 20px;
  }
}

.concept2-message-text {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .concept2-message-text {
    font-size: 14px;
    line-height: 1.7143;
  }
}

/* contact
-----------------------------------------------------*/
.contact {
  background: url(../img/contact@.png) center center/cover;
  margin-top: 225px;
  padding: 72px 40px 97px;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 92px;
    padding: 56px 28px;
  }
}

.contact .section-title {
  color: #fff;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
}

.contact input[type="text"],
.contact input[type="email"] {
  height: 40px;
}

.contact textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-form {
  margin-top: 9px;
}

.contact-text {
  font-size: 14px;
  letter-spacing: .1em;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .contact-text {
    color: #333;
  }
}

.contact-text-inline {
  font-size: 16px;
  color: #E7728E;
}

.contact-list {
  max-width: 510px;
  margin: 5px auto 0;
}

.contact-footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item + .contact-item {
  margin-top: 32px;
}

.contact-item-title {
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-item-title {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact-item-title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (min-width: 768px) {
  .contact-item-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
  }
}

.contact-item-inline {
  font-size: 12px;
  color: #E7728E;
  vertical-align: super;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .contact-item-inline {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contact-item-input {
    margin-top: 3px;
  }
}

@media screen and (min-width: 768px) {
  .contact-item-input {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 320px;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: 18px;
  }
}

.contact-radio-wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-part {
  background: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}

.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-radio-part {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.contact-footer {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 14px;
  }
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid #fff;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-link {
  color: #b6e1fa;
  text-decoration: underline;
}

.contact-decoration {
  color: #fff;
}

.contact-footer-submit {
  margin-top: 46px;
}

@media screen and (max-width: 767px) {
  .contact-footer-submit {
    margin-top: 24px;
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-success {
  color: #b6e1fa;
}

.contact-message.-error {
  color: #f00;
}

/* up arrow
-----------------------------------------------------*/
.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
  visibility: visible;
  display: none;
}

@media screen and (max-width: 767px) {
  .to-top {
    right: 10px;
    bottom: 10px;
  }
}

.to-top.is-show {
  visibility: visible;
  display: block;
}

.to-top a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: .7;
}

.to-top img {
  width: 60px;
  vertical-align: bottom;
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .to-top img {
    width: 42px;
  }
}

/* modal
-----------------------------------------------------*/
.contact__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 100%;
  padding: 60px;
  height: 80%;
  z-index: 100;
  background: #fff;
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__modal {
    width: 90%;
    height: 80%;
    padding: 38px 36px 20px;
  }
}

@media screen and (max-width: 767px) {
  .contact__modal {
    height: 90%;
    padding: 38px 24px 20px;
  }
}

.contact__modal.is-show {
  display: block;
}

.contact__modal-close-icon {
  text-align: center;
  position: absolute;
  right: -13px;
  top: -13px;
  cursor: pointer;
}

.contact__modal-close-icon img {
  width: 43px;
}

.contact__modal-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 24px;
  position: relative;
  color: #333;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .contact__modal-title {
    font-size: 21px;
  }
}

.contact__modal-title::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #3EA1D1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact__modal-content {
  overflow: auto;
  margin-top: 36px;
  height: calc(100% - 124px - 52px);
}

.contact__modal-content > :first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .contact__modal-content {
    margin-top: 60px;
    height: calc(100% - 148px - 52px);
  }
}

@media screen and (max-width: 767px) {
  .contact__modal-content {
    margin-top: 38px;
    height: calc(100% - 128px - 52px);
  }
}

.contact__modal-head {
  font-size: 20px;
  padding: 0 0 0 20px;
  color: #333;
  position: relative;
  font-weight: 700;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .contact__modal-head {
    margin-top: 32px;
  }
}

.contact__modal-head::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 3px;
  background: #3EA1D1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact__modal-text {
  padding: 0 0 0 20px;
  margin-top: 6px;
  color: #333;
  line-height: 1.625;
}

.contact__modal-close-button {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact__modal-close-button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contact__modal-close-button {
    margin-top: 35px;
  }
}

.contact__modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.contact__modal-background.is-show {
  display: block;
}

/* footer modal
-----------------------------------------------------*/
.footer__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 100%;
  padding: 60px;
  height: 80%;
  z-index: 100;
  background: #fff;
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__modal {
    width: 90%;
    height: 80%;
    padding: 38px 36px 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__modal {
    height: 90%;
    padding: 38px 24px 20px;
  }
}

.footer__modal.is-show {
  display: block;
}

.footer__modal-close-icon {
  text-align: center;
  position: absolute;
  right: -13px;
  top: -13px;
  cursor: pointer;
}

.footer__modal-close-icon img {
  width: 43px;
}

.footer__modal-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 24px;
  position: relative;
  color: #333;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .footer__modal-title {
    font-size: 17px;
  }
}

.footer__modal-title::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #3EA1D1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__modal-content {
  overflow: auto;
  margin-top: 36px;
  height: calc(100% - 124px - 52px);
}

.footer__modal-content > :first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .footer__modal-content {
    margin-top: 60px;
    height: calc(100% - 148px - 52px);
  }
}

@media screen and (max-width: 767px) {
  .footer__modal-content {
    margin-top: 38px;
    height: calc(100% - 128px - 52px);
  }
}

.footer__modal-head {
  font-size: 20px;
  padding: 0 0 0 20px;
  color: #333;
  position: relative;
  font-weight: 700;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .footer__modal-head {
    margin-top: 32px;
  }
}

.footer__modal-head::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 3px;
  background: #3EA1D1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.footer__modal-text {
  padding: 0 0 0 20px;
  margin-top: 6px;
  color: #333;
  line-height: 1.625;
}

.footer__modal-close-button {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__modal-close-button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer__modal-close-button {
    margin-top: 35px;
  }
}

.footer__modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.footer__modal-background.is-show {
  display: block;
}

/* button in the modal
-----------------------------------------------------*/
.button-modal {
  font-size: 14px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

@media screen and (min-width: 768px) {
  .button-modal:hover {
    background: #3EA1D1;
    color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */